@import url("./fonts.css");
@import url("./colors.css");
@import url("./media.css");

html, body {
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    min-width: 320px;
}
@media and (max-width: 1000px){
    .wrapper{
        width: 100%;
    }
}
/* navigation*/

.toolbar {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background: var(--black);
    color: var(--gray);
}
.menu {
    display: none;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

}

@media screen and (max-width: 800px){
    .info {
        display: none;
    }
    }

.exit {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
   
}

 .number {
     padding-left: 10px;
    cursor: pointer;
}
.slach {
    padding-left: 10px;
}
.slach1 {
    padding-left: 10px;
}

.toolbar-text {
    padding-left: 10px; 
}


.enter {
    padding-left: 10px;
    cursor: pointer;
}

.registration {
    padding-left: 10px;
    cursor: pointer;
}


/*toolbar-row-navigation*/
.toolbar-row-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    font-family: var(--Sans);
    height: 80px;
    width: 100%;
    background-color: var(--black-lt);
    color: var(--white);
}



.logo-porten {
    box-sizing: border-box; 
    padding-left: 40px;
    font-family: var(--Jaffna);
    font-style: bold;
    font-size: 60px;
}
.panel {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    cursor: pointer;
 
}
@media screen and (max-width: 800px) {
    .panel, .search {
        display: none;
    }
    .menu {
        display: flex;
        font-size: 300px;
       
 
    }
    .toolbar-row-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
    

.panel > div {
    box-sizing: border-box;
    margin: 20px;
}


.search {
    box-sizing: border-box; 
    padding-right: 40px;
    cursor: pointer;    
}

/*header*/
.header {
    
    background-image: url(../assets/pictures/main.jpg);
    background-position: center;
    width: fit-content;
    height: 810px;
}

.text {
    display: inline-block;
    border: 4px solid var(--white);
    text-align: center;
    margin: 10% 35% 0% 40%;
    padding: 100px 70px;
    text-decoration-color: var(--white);
}

h4 {
    font-size: 64px;
    margin: 0px;
    color: var(--white);
}

.line1 {
    margin-top: 0px;
}

.city {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 22px;
    color: var(--white);
}

p {
    font-family: var(--Sans);
    font-style:initial;
    text-align: center;
    font-size: 16px;
    margin: 0px 450px;
    color: var(--white);
}

/*season*/
.collection {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.season {
    flex:1;
    background-color: var(--black);
}

.season-text {
    font-family: var(--Playfair);
    text-align: center;
    font-size: 36px;
    margin: 30px ;
    color: var(--white);
}

.line2 {
    width: 150px;
    margin-bottom: 30px;
}

.clocks {
    width: 215px;
    border: 2px;
    margin-left: 25px;
    background-color: var(--black-lt);
}

.clock-text {
    display: flex;
    justify-content: space-around;
    margin-right: 55px ;
    color: var(--white);
}

/*new-collection*/
.new-collection {
    flex:1;
    position: relative;
}

.new-collection .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.new-collection .background-image {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

h3 {
    text-align: center;
    font-size: 36px;
    color: var(--white);
    margin-top: 260px;
}

.line3 {
    width: 150px;
    margin-bottom: 50px;
}

.catalogue {
    text-align: center;
    border: 2px solid var(--white);
    cursor: pointer;
    padding: 10px 12px;
    margin: 0px 320px ;
    color: var(--white);
} 

/*collection-2018*/
.about-collection {
    display: flex;
    justify-content: space-around;
    height: 500px;
}


.picture {
    flex: 1;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.collection-2018 {
    flex: 1;
    background-color: var(--black);
    width: 100%;
    height: 100%;
}

.collection-2018-top {
    text-align: center;
    font-size: 36px;
    margin-top: 100px;
    color: var(--white);
}

.line4 {
    width: 100px;
    margin-top: 30px;
}

 .collection-2018-text {
    text-align: center;
    color: var(--white);
    margin: 50px 200px 50px 200px;
}

.collection-2018-look{
    border: 2px solid var(--white);
    text-align: center;
    margin: 0px 250px;
    padding: 10px;
    color: var(--white);
    cursor: pointer;
}

/*new-goods*/
.new-goods {
    margin: 0px;
    background-color: var(--black);
    height: 950px;
}

.new-goods-text {
    text-align: center;
    font-size: 36px;
    color: var(--white);
    padding-top: 100px;
    margin-bottom: 50px;
}

.line5 {
    width: 200px;
    margin-bottom: 50px ;
}

.clock-price {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    margin-left: 300px;
    margin-right: 300px;
}

.clock {
    margin: 5px;
    background-color: var(--black-lt);
    width: 215px;
}

.clocks-text {
    color: var(--white);
}

/*brands*/
.brands{
    height: 300px;
    background-color: var(--black-md);
}

.brands-text{
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    color: var(--white);
}

.line6 {
    width: 100px;
    margin-top: 40px ;
}

.brands-logo {
    width: 250px;
}

.brands-table {
    margin-top: 50px;
}

.brands-name {
    border: 10px solid var(--black-md);
    background-color: var(--black-md);
}

/*footer*/
.footer{
    background-image: url(../assets/pictures/man3.jpg);
    background-position: center;
    height: 400px;  
}

.footer-info {
    display: flex;
}

.about-shop {
    margin: 80px 0px 100px 220px;  
}

.about-shop-header {
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}

.shop {
 margin: 80px 50px 50px 30px; 
}

.shop-header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}

.about-shop-text {
    color: var(--white);
}

.shop-button {
    display: flex;
    margin-bottom: 20px; 
}

button {
    margin-left: 15px;
    width: 100px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
}

.jewerly {
    width:200px ;
}

.email {
    margin: 80px 220px 100px 50px;
}

.link-header {
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}

.mail-text {
    margin-bottom: 10px;
    color: var(--white);
}

.subscribe {
    display: flex; 
}

input {
    height: 30px;
}

.subscribe-button {
    height: 37px;
    background-color: var(--black);
    color: var(--white); 
}
