@import url("./fonts.css");
@import url("./colors.css");
@import url("./media.css");

html, body {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 700px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

/* navigation*/
.toolbar {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background: var(--black);
    color: var(--gray);
}
.menu {
    display: none;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
@media screen and (max-width: 800px) {
    .info {
        display: none;
    }
 }
.exit {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;  
}
.number {
    padding-left: 10px;
    cursor: pointer;
}
.slach {
    padding-left: 10px;
}
.slach1 {
    padding-left: 10px;
}
.toolbar-text {
    padding-left: 10px; 
}
.enter {
    padding-left: 10px;
    cursor: pointer;
}
.registration {
    padding-left: 10px;
    cursor: pointer;
}

/*toolbar-row-navigation*/
.toolbar-row-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: var(--Sans);
    height: 80px;
    width: 100%;
    background-color: var(--black-lt);
    color: var(--white);
}
.logo-porten {
    box-sizing: border-box; 
    padding-left: 40px;
    font-family: var(--Jaffna);
    font-style: bold;
    font-size: 60px;
}
.panel {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    cursor: pointer;
}
.panel > div {
    box-sizing: border-box;
    margin: 20px;
}
.search {
    box-sizing: border-box; 
    padding-right: 40px;
    cursor: pointer;    
}
@media screen and (max-width: 800px) {
    .panel, .search {
        display: none;
    }
    .menu {
        display: flex;
        font-size: 300px;
    }
    .toolbar-row-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/*header*/
.header {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url(/assets/pictures/main.jpg);
    background-position: center;
    height: 810px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frame {
    width: 320px;
    height: 320px; 
    border: solid 4px;
    color: var(--white);
}
h4 {
    margin: 0;
    padding: 91px 65px 10px 65px;
    font-size: 64px;
    color: var(--white); 
}
.line1 {
    width: 150px;
    color: var(--white);
}
.city {
    padding: 10px 130px 0px 130px;
    font-size: 32px;
}
.header-text { 
    box-sizing: border-box;
    padding:  0px 400px;
    text-align:center;
    font-family: sans-serif;
    font-size: 20px;
    color: var(--white);
}
@media screen and (max-width : 1000px) {
    .header-text {
        padding: 0 200px; 
    }
}
@media screen and (max-width : 800px) { 
    .header {
        height: 500px;
    }
    .header-text {
        display: none;
    }
}

/*season*/
.collection {
    display: flex;
    flex-direction: row;
    height: 500px;
}
.season {
    flex: 1;
    background-color: var(--black);
}
.season-text {
    font-family: var(--Playfair);
    text-align: center;
    font-size: 36px;
    margin: 30px ;
    color: var(--white);
}
.line2 {
    width: 150px;   
}
.season-block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 20px;
}
.clocks {
    width: 215px;
    border: 2px;
    background-color: var(--black-lt);
}
.clock-name {
    margin: 0;
    color: var(--white);
}
.price {
    margin: 0;
    color: var(--white);
}
@media screen and (max-width: 1274px) {
    .block3 {
        display: none;
    }
    .season-block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;    
    }
}
@media screen and (max-width: 800px) {
    .collection {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .season-block{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        padding: 15px;
    }
}
@media screen and (max-width: 450px) {
    .block2 {
        display: none;
    }
}

/*new-collection*/
.new-collection {
    flex:1;
    position: relative;
}
.new-collection .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-collection .background-image {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}
h3 {
    text-align: center;
    font-size: 36px;
    color: var(--white);  
}
.line3 {
    width: 150px;
    margin-bottom: 50px;
}
.catalogue {
    border: solid 2px var(--white);
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: rgba(5, 62, 77, 0.26);
    cursor: pointer;
    color: var(--white);
} 
@media screen and (max-width: 800px) {
    h3 {
        margin-top:0px;
    }
}
@media screen and (max-width: 450px) {
    .line3 {
        margin-bottom:0px;
    }
}

/*collection-2018*/
.about-collection {
    display: flex;
    flex-direction: row;
    height: auto;
}
.picture-block{
    flex: 1;
}
.picture {
    height:100%;
    width: 100%;
}
.collection-2018 {
    flex: 1;
    background-color: var(--black);

}
.collection-2018-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collection-2018-top {
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 100px;
    color: var(--white);
}
.line4 {
    box-sizing: border-box;
    width: 100px;
    margin-top: 30px;
}
 .collection-2018-text {
     box-sizing: border-box;
    text-align: center;
    color: var(--white);
    padding:  50px  50px ;
}
.collection-2018-look {
    border: 2px solid var(--white);
    padding: 10px 15px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
}
@media screen and (max-width: 800px){
    .about-collection {
        display: flex;
        flex-direction: column;
    }
    .picture {
        height: auto;
    }
    .collection-2018-top {
        margin-top: 50px;
    }
    .collection-2018-look {
        margin-bottom: 15px;
    }
}

/*new-goods*/
.new-goods {
    margin: 0px;
    background-color: var(--black);
    height: 950px;
}
.new-goods-text {
    text-align: center;
    font-size: 36px;
    color: var(--white);
    padding-top: 100px;
    margin-bottom: 50px;
}
.line5 {
    width: 200px;
    margin-bottom: 50px ;
}
.clock-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}
.clock {
    margin: 5px;
    background-color: var(--black-lt);
   width: 215px;
}
.clocks-text {
    color: var(--white);
}
@media screen and (max-width: 1000px) {
    .block-clock1,.block-clock2 {
        display: none;
    }
    .new-goods {
        height: auto;
        padding-bottom: 10px;
    }
    .new-goods-text {
        padding-top: 50px;
    }
}

/*brands*/
.brands {
    height: 300px;
    background-color: var(--black-md);
}
.brands-text {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    color: var(--white);
}
.line6 {
    width: 100px;
    margin-top: 40px ;
}
.brands-logo {
    width: 220px;
}
.brands-table {
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.brands-name {
    border: 10px solid var(--black-md);
    background-color: var(--black-md);
}
@media screen and (max-width: 1000px) {
    .brands {
        height: auto;
    }
    .brands-name1 {
        display: none;
    }
    .brands-table {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }
}

/*footer*/
.footer {
    background-image: url(../assets/pictures/man3.jpg);
    background-position: center;
}
.footer-info {
    display: flex;
    justify-content: center;
}
.about-shop {
    padding: 80px 0px 100px 220px;  
}
.about-shop-header {
    padding-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}
.shop {
    padding: 80px 50px 50px 30px; 
}
.shop-header {
    text-align: center;
    padding-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}
.about-shop-text {
    color: var(--white);
}
.shop-button {
    display: flex;
    margin-bottom: 20px; 
}
button {
    margin-left: 15px;
    width: 100px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
}
.jewerly {
    width:200px ;
}
.email {
    padding: 80px 220px 100px 50px;
}
.link-header {
    padding-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}
.mail-text {
    padding-bottom: 10px;
    color: var(--white);
}
.subscribe {
    display: flex; 
}
input {
    height: 30px;
}
.subscribe-button {
    height: 37px;
    background-color: var(--black);
    color: var(--white); 
}
@media screen and (max-width: 1000px) {
    .about-shop {
        display: none;
    }
    .email {
        padding: 80px 50px;
    }
}
@media screen and (max-width: 700px){
    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 350px) {
    .email {
        padding: 10px;
    }
    .shop {
        padding: 10px;
    }
}
