@import url("./colors.css");

html, body {
    margin: 0;
    padding: 0;
}

/* navigation*/
.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    background: var(--black);
    color: var(--gray);
}

.info {
    display: flex;
    justify-content: left;
}

.slach {
    margin: 0px 10px;
}

.login {
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--gray);
}

.toolbar-row-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: var(--black-md);
    color: var(--white);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.logo-porten {
    display: flex;
    margin-right: 20px;
    font-size: 60px;
    font-style: bold;
}

.liked {
    margin: 70px;
    cursor: pointer;
}

.personal-office {
    margin-left: 70px;
    cursor: pointer;
}

.settings {
    margin-left: 100px;
    cursor: pointer;
}

.navigation-buttons {
    margin-right: 150px;
}

.pointer {
    cursor: pointer;
}

/*header*/
.header {
    background-image: url(../assets/pictures/main.jpg);
    background-position: center;
    width: fit-content;
    height: 810px;
}

.text {
    display: inline-block;
    border: 4px solid var(--white);
    text-align: center;
    margin: 10% 35% 0% 40%;
    padding: 100px 70px;
    text-decoration-color: var(--white);
}

h4 {
    font-size: 64px;
    margin: 0px 0px;
    color: var(--white);
}

.line1 {
    margin-top: 0px;
}
.city {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: var(--white);
}

p {
    font-size: 16px;
    text-align: center;
    margin: 0px 450px;
    color: var(--white);
}

/*season*/
.collection {
    display: flex;
    justify-content: space-around;
}

.season {
    width: 50%;
    height: 500px;
    background-color: var(--black);
}

.season-text {
    font-size: 36px;
    margin: 30px ;
    text-align: center;
    color: var(--white);
}

.line2 {
    width: 150px;
    margin-bottom: 30px;
}

.clocks {
    width: 215px;
    border: 2px;
    margin-left: 25px;
    background-color: var(--black-md);
}

.clock-text {
    display: flex;
    justify-content: space-around;
    margin-right: 55px ;
    color: var(--white);
}
/*new-collection*/
.new-collection {
    background-image: url(../assets/pictures/man-1.jpg);
    width: 50%;
}

h3 {
    font-size: 36px;
    color: var(--white);
    text-align: center;
    margin-top: 300px;
}

.line3 {
    width: 150px;
}

.catalogue {
    border: 2px solid var(--white);
    margin: 0px 320px ;
    text-align: center;
    color: var(--white);
    cursor: pointer;
} 

/*new-goods*/
.about-collection {
    display: flex;
    justify-content: space-around;
}
.new-goods {
    background-image: url(../assets/pictures/man-2.jpg);
    width: 50%;
    height: 500px;
}

.collection-2018 {
    background-color: var(--black);
    width: 50%;
    height: 500px;
}

.collection-2018-top {
    text-align: center;
    font-size: 36px;
    margin-top: 100px;
    color: var(--white);
}

.line4 {
    width: 100px;
    margin-top: 30px;
}

.collection-2018-text {
    text-align: center;
    color: var(--white);
    margin: 50px 200px 50px 200px;
}

.collection-2018-look{
    border: 2px solid var(--white);
    text-align: center;
    margin: 0px 250px;
    padding: 10px;
    color: var(--white);
    cursor: pointer;
}

