@import url("./colors.css");

html, body {
    margin: 0;
    padding: 0;
}

/* navigation*/
.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    background: var(--black);
    color: var(--gray);
}

.info {
    display: flex;
    justify-content: left;
}

.slach {
    margin: 0px 10px;
}

.login {
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--gray);
}

.toolbar-row-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: var(--black-lt);
    color: var(--white);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.logo-porten {
    display: flex;
    font-style: bold;
    margin-right: 20px;
    font-size: 60px;
}

.liked {
    margin: 70px;
    cursor: pointer;
}

.personal-office {
    margin-left: 70px;
    cursor: pointer;
}

.settings {
    margin-left: 100px;
    cursor: pointer;
}

.navigation-buttons {
    margin-right: 150px;
}

.pointer {
    cursor: pointer;
}

/*header*/
.header {
    background-image: url(../assets/pictures/main.jpg);
    background-position: center;
    width: fit-content;
    height: 810px;
}

.text {
    display: inline-block;
    border: 4px solid var(--white);
    text-align: center;
    margin: 10% 35% 0% 40%;
    padding: 100px 70px;
    text-decoration-color: var(--white);
}

h4 {
    font-size: 64px;
    margin: 0px 0px;
    color: var(--white);
}

.line1 {
    margin-top: 0px;
}
.city {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: var(--white);
}

p {
    text-align: center;
    font-size: 16px;
    margin: 0px 450px;
    color: var(--white);
}

/*season*/
.collection {
    display: flex;
    justify-content: space-around;
}

.season {
    width: 50%;
    height: 500px;
    background-color: var(--black);
}

.season-text {
    text-align: center;
    font-size: 36px;
    margin: 30px ;
    color: var(--white);
}

.line2 {
    width: 150px;
    margin-bottom: 30px;
}

.clocks {
    width: 215px;
    border: 2px;
    margin-left: 25px;
    background-color: var(--black-lt);
}

.clock-text {
    display: flex;
    justify-content: space-around;
    margin-right: 55px ;
    color: var(--white);
}
/*new-collection*/
.new-collection {
    background-image: url(../assets/pictures/man-1.jpg);
    width: 50%;
}

h3 {
    text-align: center;
    font-size: 36px;
    color: var(--white);
    margin-top: 260px;
}

.line3 {
    width: 150px;
    margin-bottom: 50px;
}

.catalogue {
    text-align: center;
    border: 2px solid var(--white);
    cursor: pointer;
    padding: 10px 12px;
    margin: 0px 320px ;
    color: var(--white);
} 

/*collection-2018*/
.about-collection {
    display: flex;
    justify-content: space-around;
}
.picture {
    background-image: url(../assets/pictures/man-2.jpg);
    background-position: center;
    width: 50%;
    height: 500px;
}

.collection-2018 {
    background-color: var(--black);
    width: 50%;
    height: 500px;
}

.collection-2018-top {
    text-align: center;
    font-size: 36px;
    margin-top: 100px;
    color: var(--white);
}

.line4 {
    width: 100px;
    margin-top: 30px;
}

.collection-2018-text {
    text-align: center;
    color: var(--white);
    margin: 50px 200px 50px 200px;
}

.collection-2018-look{
    border: 2px solid var(--white);
    text-align: center;
    margin: 0px 250px;
    padding: 10px;
    color: var(--white);
    cursor: pointer;
}

/*new-goods*/
.new-goods {
    margin: 0px 0px;
    background-color: var(--black);
    height: 950px;
}

.new-goods-text {
    text-align: center;
    font-size: 36px;
    color: var(--white);
    padding-top: 100px;
    margin-bottom: 50px;
}

.line5 {
    width: 200px;
    margin-bottom: 50px ;
}

.clock {
    width: 215px;
}

table {
   margin: auto;
} 

th,td {
    border: 5px solid var(--black);
}

th {
    background-color: var(--black-lt);
   
}

td {
    color: var(--white);
}

/*brands*/
.brands{
    height: 300px;
    background-color: var(--black-md);
}

.brands-text{
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    color: var(--white);
}

.line6 {
    width: 100px;
    margin-top: 40px ;
}

.brands-logo {
    width: 250px;
}

.brands-table {
    margin-top: 50px;
}

.brands-name {
    border: 10px solid var(--black-md);
    background-color: var(--black-md);
}

/*footer*/
.footer{
    background-image: url(../assets/pictures/man3.jpg);
    background-position: center;
    height: 400px;  
}

.footer-info {
    display: flex;
}

.about-shop {
    margin: 80px 0px 100px 220px;  
}

.about-shop-header {
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}

.shop {
 margin: 80px 50px 50px 30px; 
}

.shop-header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}

.about-shop-text {
    color: var(--white);
}

.shop-button {
    display: flex;
    margin-bottom: 20px; 
}

button {
    margin-left: 15px;
    width: 100px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
}

.jewerly {
    width:200px ;
}

.email {
    margin: 80px 220px 100px 50px;
}

.link-header {
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--white);
}

.mail-text {
    margin-bottom: 10px;
    color: var(--white);
}

.subscribe {
    display: flex; 
}

input {
    height: 30px;
}

.subscribe-button {
    height: 37px;
    background-color: var(--black);
    color: var(--white); 
}
